.search-hero {
  max-width: 500px;
  padding-bottom: 50px;
  margin:auto;
  display: flex;
  justify-content: center;
  
}

.form-control {
  box-shadow: 0 2px 4px 0 #B0C1D9;
  border: none;
  height: 100%;
  width:198px;
  font-size:18px;
  padding: 5px;
  margin-right: 2px ;
 
}
  

button {
  border: none;
  height: 22px;
  background-color: var(--content);
  border-radius:0 7px 7px 0;
  padding: 5px;
}
